@page "/"
@layout LandingPageLayout

<PageTitle>ChezGPT - What's in the fridge?</PageTitle>

<div class="page">
    <div class="pagestyle">
        <nav class="row align-items-center">
            <div class="col text-end me-3">
                <a href="https://github.com/augnos/ChezGPT" target="_blank">About</a>
            </div>
        </nav>

        <main class="landingPage">
            <div class="text-center">
                <img src="images/ChezGPTLogoLight.png" height="300" />
            </div>

            <div class="text-center mt-5">
                <a href="/createmeal" class="btn btn-cg-primary btn-lg">Get Started</a>
            </div>
        </main>

        <footer class="text-center">
            &copy;2023 Joshua Valdez
        </footer>
    </div>

</div>